body {
  scrollbar-width: none; 
	background-color: #FDFEFE;
	color: #17202A;
	font-family: 'Cabin', sans-serif;
	margin: 0 !important;
	padding: 0 !important;
}

/** HEADER **/
#sidebar-nav {
  position: fixed;
  top: 10%;
  margin-left: 5%;
  margin-bottom: 10px;
  float: left;
  z-index: 1;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
}

/** LINKS **/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/**BODY**/

/**TOP**/
.grid-container {
	margin-top: 5%;
	margin-left: 23%;
	height: 80vh;
	width: 60vw;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);
	align-content: center;
	grid-gap: 30px;
}

.grid-container-2 {
  margin-left: 15%;
  margin-top: 5%;
  width: 75%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}
.grid-item {
  padding: 20px;
  font-size: 16px;
  line-height: 1.8;
}

.grid-item h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.item-1 {
	font-size: 14px;
}

.item-2 {
	font-size: 14px;
	max-width: 80%;
}

img {
	max-width: 100%;
}

figcaption {
	margin: 0;
}

/**PHOTOS**/
iframe {
	padding: 1.5%;
    width: 15%;
    float: left;
    height: 110px;
}

.photos{
  user-select: none;
  pointer-events: none;
}


#collage {
	margin-left:15%;
}

.bullet {
	/* margin-left:20%; */
	/* margin-top: 5%; */
}

div#collage {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-y: scroll; */
}

div#collage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}


div#sidebar-nav a {
    padding: 1px 15px;
    display: inline-block;
    color: #fff;
    width: fit-content;
    transition: color 0.2s ease-in-out;
}

div#sidebar-nav {
    display: flex;
    mix-blend-mode: hard-light;
    flex-direction: column;
}

.cg-image-wrapper {
    min-height: 110vh;
    width: 100%;
    position: relative;
}

.cg-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.whiteFont {
  color: white!important;
}

.blackFont {
  color: black!important;
}

.content {
  margin-left: 250px;
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional: If you want the track transparent */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
